<% if content.errors.any? %>
Errors: <%= content.errors.full_messages.join(', ')%> </br>
<% end %>

<%= form_with(model: @content, local: true) do | form | %>

    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="field">
        <%= form.label :tags %>
        <%= form.select :tags, options_for_select(current_user.tags.pluck(:name), content.tags.pluck(:name)), {}, { class: "js-example-tokenizer", multiple: 'multiple', style: 'width: 40%'}%>
    </div>

    <div class="action">
        <%= form.submit 'Salvar'%>
    </div>

<% end %>

